/* in accordance to figma typography section 
https://www.figma.com/design/byyZeyTtmg2JoxOo8zI5FG/INT_Hi-Fidelity?node-id=658-4100&t=YsacfVNE9ESKKRcR-1 */


/* ---------------------------Brockmann Font--------------------------- */

.brockmann1 {
  font-size: 110px; /* Set font size to 110 pixels */
  font-family: 'Brockmann', sans-serif; /* Example font family */
  font-weight: 600; /* Semi-bold */
  line-height: 1.02; /* 102% */
  letter-spacing: -0.03em; /* -3% */
}

.brockmann2 {
  font-size: 72px; /* Set font size to 72 pixels */
  font-family: 'Brockmann', sans-serif; /* Example font family */
  font-weight: 500; /* Medium */
  line-height: 1.02; /* 102% */
  letter-spacing: -0.01em; /* -1% */
}

.brockmann3 {
  font-size: 60px; /* Set font size to 60 pixels */
  font-family: 'Brockmann', sans-serif; /* Example font family */
  font-weight: 600; /* Semibold */
  line-height: 1.02; /* 102% */
  letter-spacing: -0.02em; /* -2% */
}

.brockmann4 {
  font-size: 60px; /* Set font size to 60 pixels */
  font-family: 'Brockmann', sans-serif; /* Example font family */
  font-weight: 600; /* Semibold */
  line-height: 1.02; /* 102% */
  letter-spacing: -0.01em; /* -1% */
}

.brockmann5 {
  font-size: 50px; /* Set font size to 50 pixels */
  font-family: 'Brockmann', sans-serif; /* Example font family */
  font-weight: 600; /* Semibold */
  line-height: 1.02; /* 102% */
  letter-spacing: 0; /* 0% */
}

.brockmann6 {
  font-size: 38px; /* Set font size to 38 pixels */
  font-family: 'Brockmann', sans-serif; /* Example font family */
  font-weight: 600; /* Semibold */
  line-height: 1.02; /* 102% */
  letter-spacing: -0.03em; /* -3% */
}




/* ---------------------------SF UI Font--------------------------- */

.sfui1 {
  font-family: 'SFUI', sans-serif;
  font-size: 36px;
  font-weight: 500; /* Medium */
  line-height: 120%;
  letter-spacing: 0;
}

.sfui2 {
  font-family: 'SFUI', sans-serif;
  font-size: 34px;
  font-weight: 500; /* Medium */
  line-height: 120%;
  letter-spacing: 0;
}


.sfui3 {
  font-family: 'SFUI', sans-serif;
  font-size: 20px;
  font-weight: 400; /* Regular */
  line-height: 118%;
  letter-spacing: 0;
}

.sfui4 {
  font-family: 'SFUI', sans-serif;
  font-size: 18px;
  font-weight: 500; /* Medium */
  line-height: 118%;
  letter-spacing: 0;
}


.sfui5 {
  font-family: 'SFUI', sans-serif;
  font-size: 16px;
  font-weight: 400; /* Regular */
  line-height: 118%;
  letter-spacing: 0;
}

.sfui6 {
  font-family: 'SFUI', sans-serif;
  font-size: 14px;
  font-weight: 600; /* Semi-bold */
  line-height: 118%;
  letter-spacing: 0;
}

.sfui7 {
  font-family: 'SFUI', sans-serif;
  font-size: 14px;
  font-weight: 400; /* Regular */
  line-height: 118%;
  letter-spacing: 0;
}

.sfui8 {
  font-family: 'SFUI', sans-serif;
  font-size: 12px;
  font-weight: 400; /* Regular */
  line-height: 200%;
  letter-spacing: 0;
}

.sfuiFooter {
  font-family: 'SFUI', sans-serif;
  font-size: 16px;
  font-weight: 400; /* Semi-bold */
  line-height: 118%;
  letter-spacing: 0;
}




